.event-preview-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 370px;   
  width: 100%;
  margin: 0 auto;      

  min-height: 200px;

  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-preview-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}

/* HEADER */
.event-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start; 
}

.event-header h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 2rem;
}

/* badges */
.badges {
  display: flex;
  gap: 6px;
}

.status,
.sport {
  padding: 3px 8px;
  border-radius: 999px;
  font-size: 0.7rem;
}

/* colors */
.status.upcoming {
  background: #dbeafe;
  color: #1d4ed8;
}

.status.ongoing {
  background: #dcfce7;
  color: #166534;
}

.status.completed {
  background: #fee2e2;
  color: #991b1b;
}

.sport {
  background: rgba(0,0,0,0.05);
}

/* divider */
.event-preview-card hr {
  border: none;
  height: 1px;
  background: rgba(0,0,0,0.06);
}

/* BODY */
.event-body {
  display: flex;
  flex-direction: column;
  gap: 6px;

  text-align: left; 
}

/* meta */
.event-meta {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.2;
}

/* datetime */
.datetime {
  font-weight: 500;
  color: #444;
}

/* location */
.location {
  font-size: 0.75rem;
}

/* content */
.event-content {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: auto; 
}

/* reset */
.event-preview-card p {
  margin: 0;
}

.event-grid {
  display: grid;
  gap: 30px;
  padding: 16px 32px;

  grid-template-columns: repeat(4, max-content);
  justify-content: center;
}

.event-preview-card hr {
  border: none;
  height: 1px;
  background: rgba(0,0,0,0.08);
  margin: 6px 0;
}


@media (max-width: 1024px) {
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}